@charset "UTF-8";

#boardDetail {
	width: 90%;	
}
#boardDetail * {
  box-sizing: border-box;
}

#boardDetail input[type=text], select, textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

#boardDetail label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

#boardDetail input[type=button] {
  background-color: skyblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

#boardDetail input[type=button]:hover {
  background-color: blue;
}

#boardDetail input[type=submit] {
  background-color: skyblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

#boardDetail input[type=submit]:hover {
  background-color: blue;
}

#boardDetail .col-25 {;
  float: left;
  width: 25%;
  margin-top: 6px;
}

#boardDetail .col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  background-color: white;
  padding: 2% 1%
}

#boardDetail .col {
	background-color: white;
	padding: 2% 1%
}

/* Clear floats after the columns */
#boardDetail .row1:after {
  content: "";
  display: table;
  clear: both;
}

/*------------------------------*/
#boardDetail .dvi1 {
	background-color: white;
}

#boardDetail .dvi2 {
	background-color: white;
}

#boardDetail .dvi3 {
	background-color: white;
}
#boardDetail .bts {
	margin-bottom: 100px;
	margin-top: 30px;
}

#boardDetail .bts input[type=button]{
	margin: 0 5px;
}

#boardDetail .content {
	padding: 10px 20px;
}