@charset "UTF-8";
body{
	min-width: 1400px;
}
header {
	font-size: 1.5em;
}

.left {
	float: left;
}

.right {
	float: right;
}

main>.container {
	padding: 60px 15px;
}

.footer {
	background-color: #f5f5f5;
}

.footer>.container {
	padding-right: 15px;
	padding-left: 15px;
}

code {
	font-size: 80%;
}

#login{
	background: #525a6d;
	padding: 15px;
}

#login input, #login button{
	width: 100%;
	font-size: 1.3em;
	margin: 15px 0 15px 0;
	padding-left: 10px;
}

#findUser{
	text-align: center; 
	font-size: 1.2em;
}

#sidebarMenu a{
	color: white;
}

#findUser a{
	color: #7a8394;
}

@media (min-width: 768px)
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 21%;
    min-width: 290px;
}
@media (min-width: 992px)
.col-lg-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    min-width: 900px;
}