@charset "UTF-8";

/* 공지사항 내용 */
.container .NoticeContents {
	padding: 1% 1% 1% 1%;
	background-color:white;
}

.container .NoticeContents h1{
	font-size: 2.5em;
    font-weight: bold;
}
}


/* ---------------------------------------------------------*/
/* 메뉴 */
.container .topnav {
  overflow: hidden;
  background-color: #f6f6f6;
}

.container .topnav a {
  float: left;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.container .topnav a:hover {
  background-color: blue;
  color: white;
}

.container .topnav a.active {
  background-color: #4CAF50;
  color: white;
}


/* ---------------------------------------------------------*/
/*  */