@charset "UTF-8";
/* 페이지정보 관련 (전체 게시물 개수, 정렬) 스타일*/
.container .listinfo1 {
	padding:1%;
	text-align: left;
}

.container .listinfo2 {
	text-align: right;
	margin-right: 1%;
	margin-bottom: 10px;
}

/* 페이지번호 스타일 */
.container .divPage {
	text-align: center;
}

/* 검색 스타일 */
.container .divSearch {
	background-color: #eee;
	text-align: center;
	width: 100%;
	height: 25%;
	padding: 2%;
}

/* 글쓰기 버튼*/
.container .bt {
	margin-top: 10px;
	
}
/*--------------------------------------------*/

/* 테이블 스타일 */
.container * {
  box-sizing: border-box;
}

.container #myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 0.9em;
}

.container .maTable_tr1 {
	background-color: #eee;
	
}
.container #myTable th, .container #myTable td {
  text-align: left;
  padding: 12px;
}

.container #myTable tr {
  border-bottom: 1px solid #ddd;
}

.container #myTable tr.header, .container #myTable tr:hover {
  background-color: #f1f1f1;
}
.container #menu1{
	overflow: hidden;
}
.container .divbt{
	float: right;
}