@charset "UTF-8";

* {
  box-sizing: border-box;
}

#boardFrm {
	margin: 0 auto;
	width: 90%;
}

#boardFrm input[type=text], #boardFrm select, #boardFrm textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

#boardFrm label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

#boardFrm input[type=button] {
  background-color: skyblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

#boardFrm input[type=button]:hover {
  background-color: blue;
}

#boardFrm input[type=submit] {
  background-color: skyblue;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

#boardFrm input[type=submit]:hover {
  background-color: blue;
}

main .container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

#boardFrm .col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

#boardFrm .col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
#boardFrm .row1{
	overflow: hidden;
}
#boardFrm .row1:after {
  content: "";
  display: table;
  clear: both;
}
#boardFrm .writeFrm{
	width: 1000px;
	padding: 0 5%;
}

#boardFrm .bts {
	margin-bottom: 100px;
	margin-top: 30px;
}

#boardFrm .bts input[type=button]{
	margin: 0 5px;
}
