@charset "UTF-8";

#adminMngMem caption {
	visibility: hidden;
	font-size: 0.1em;
}

#adminMngMem .divList, .divRight, .divPage, .divList table {
	width: 1000px;
}

#adminMngMem .divList {
	margin: 10px 0;
}

#adminMngMem .divPage {
	text-align: center;
	padding: 5px 0;
}

#adminMngMem .divRight {
	text-align: right;
	width: 1000px;
}

#adminMngMem table {
	width: 1000px;
	text-align: center;
	margin-top: 20px;
}

#adminMngMem table td {
	padding: 15px;
	border-top: solid;
	border-bottom: solid;
	border-width: 1px;
	border-color: #e5e5e5;
}

#adminMngMem th {
	text-align: inherit;
	padding: 10px 0 10px 0;
	font-weight: bold;
}

main>.container {
	padding: 60px 15px;
	margin: 5% 10%;
}

#btSearch {
	width: 50px;
	height: 31px;
	font-size: 1em;
	padding: 0;
	margin: -6px 19px 0 18px;
}

#btMultiDel {
	width: 140px;
	height: 40px;
	font-size: 1em;
	padding: 0;
	margin: 0;
}

.divRight select {
	margin: 0 20px 0 3px;
	text-align: right;
}

.box2 thead {
	background-color: #f2f5fc;
	border-top: 1px solid #70bded;
}

.btdiv {
	float: right;
	margin: 10px;
}

.btCustom {
	color: #fff;
	background-color: #01539d;
	border-color: #01539d;
}