@charset "UTF-8";

#adminMngMem caption {
	visibility: hidden;
	font-size: 0.1em;
}

#adminMngMem .divList, .divRight, .divPage, .divList table {
	width: 1400px;
}

#adminMngMem .divList {
	margin: 10px 0;
}

#adminMngMem .divPage {
	text-align: center;
	padding: 5px 0;
}

#adminMngMem .divRight {
	text-align: right;
	width: 1450px;
	margin: auto;
}

#adminMngMem table {
	width: 1450px;
	text-align: center;
	margin-top: 20px;
}

#adminMngMem table td {
	padding: 15px;
	border-top: solid;
	border-bottom: solid;
	border-width: 1px;
	border-color: #e5e5e5;
	vertical-align: middle;
}

#adminMngMem th {
	text-align: inherit;
	padding: 10px 0 10px 0;
	font-weight: bold;
}

main>.container {
	padding: 6% 0%;
	margin: auto;
}

#btSearch {
	width: 50px;
	height: 31px;
	font-size: 1em;
	padding: 0;
	margin: -6px 0 0 18px;
}

.divRight select {
	margin: 0 20px 0 3px;
	text-align: right;
}

.box2 thead {
	background-color: #f2f5fc;
	border-top: 1px solid #70bded;
}

.btdiv {
	float: right;
	margin: 10px;
}

.btCustom {
	color: #fff;
	background-color: #01539d;
	border-color: #01539d;
	width: 140px;
	height: 40px;
	font-size: 1em;
	padding: 0;
	margin: 0;
}

#adminMngMem input[type="checkbox"] {
	width: 15px;
	height: 15px;
	vertical-align: unset;
}

#condition {
	text-align: left;
	margin-bottom: 16px;
}

.stud select {
	width: 180px;
}

.emp select {
	width: 110px;
	text-align: right;
}

#profPosition {
	width: 100px;
}

.stud {
	margin-bottom: 15px;
}

.emp {
	margin-bottom: 15px;
}

#head1 {
	display: inline-block;
}

.btTop {
	width: 100px;
	margin: 10px 10px 10px 0;
}

.divTop {
	width: 1450px;
	margin: auto;
}

.rightEnd {
	margin-right: 0 !important;
}

.pageA {
	border-color: #e4e4e4 !important;
	color: #333;
	border-radius: 2px;
	border: 1px solid;
	display: inline-block;
	height: 26px;
	padding: 0 8px;
	box-sizing: border-box;
	text-align: center;
	font-weight: bold;
}

.imgNext {
	width: 15px;
	height: 15px;
	text-decoration: none !important;
}

.imgNext img {
	width: 15px;
	height: 15px;
}

.ckState input[type=checkbox] {
	margin: 0 5px 1px 10px;
	text-align: right;
	vertical-align: middle !important;
}
.ckState{
	margin-bottom: 11px;
}


.stud label {
	user-select: none;
}
.date{
	margin: 0 10px 0 10px !important;
}